<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/semantic.min.css}">
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}">
    <script type="text/javascript" th:src="@{/static/semantic.min.js}"></script>
</head>
<body>
    <p th:text="#{welcome.msg}">Welcome Offline</p>
    <p>Date : <span th:text="${currentDate}">Sat Oct 24 2015</span></p>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Domain</th>
            <th>Email</th>
            <th>VAT ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="company : ${companies}" th:object="${company}">
            <td th:text="*{name}">Jamie</td>
            <td th:text="*{domain}">Approved</td>
            <td th:text="*{email}">Requires call</td>
            <td th:text="*{vatIdentificationNumber}">1234567890</td>
        </tr>
        </tbody>
    </table>
</body>
</html>